<h1>Welcome to the Crypto Trading App</h1>
<ul>
    <li><a href="/account">View Account Info</a></li>
    <li><a href="/trading-pairs">View Trading Pairs</a></li>
    <li><a href="/holdings">View Holdings</a></li>
    <li><a href="/place-order">Place an Order</a></li>
    <li><a href="/cancel-order">Cancel an Order</a></li>
</ul>